.prose :where(code):not(:where([class~="not-prose"] *))::before {
	content: unset !important;
}
.prose :where(code):not(:where([class~="not-prose"] *))::after {
	content: unset !important;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    background-color: #f0f0f0 !important; /* Force light mode */
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 0.200rem;
	padding-inline: 0.25rem;
}

.dark .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    background-color: #404040 !important; /* Force dark mode */
}
